<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">



    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />




    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/Location"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Location"
        tools:targetApi="31">
        <activity
            android:name=".FamilyMemberOTP"
            android:exported="false" />
        <activity
            android:name=".FamilyMemberInformation"
            android:exported="false" />
        <activity
            android:name=".ChildInformation"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCDyvtDVXM5Bcy_qK1aIdGNlaYXZ_vldfM" />

        <activity
            android:name=".AddDevice"
            android:exported="false" />
        <activity
            android:name=".WhomToAdd"
            android:exported="false" />
        <activity
            android:name=".CreateNewPassword"
            android:exported="false" />
        <activity
            android:name=".ResetPasswordByMail"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".NewUser"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <service
            android:name=".LocationUpdateService"
            android:exported="false" />
        <service
            android:name=".GeofenceService"
            android:enabled="true"
            android:exported="false" />



        <!--        <receiver-->
<!--            android:name=".GeofenceBroadcastReceiver"-->
<!--            android:enabled="true"-->
<!--            android:exported="false">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.BOOT_COMPLETED" />-->
<!--                <action android:name="android.intent.action.QUICKBOOT_POWERON" />-->
<!--                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->
        <receiver
            android:name=".GeofenceBroadcastReceiver"
                    android:enabled="true"
                    android:exported="false">
            <intent-filter>
                <action android:name="com.example.location.GEOFENCE_ACTION" />
            </intent-filter>
        </receiver>



        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="your.geofence.action" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>